@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../media/MaterialIcons-Regular.woff2") format("woff2");
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/**
 * MAIN SECTIONS
 */
#top-icon-container {
    height: 40px;
}

#subwindow-container {
    height: calc(100vh - 40px);
}

.ui-element-container {
    width: 100vw;
    display: flex;
}

/**
 * SUBWINDOWS & ICONWINDOWS
 */
.subwindow, .iconwindow {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    background-color: #333333;
}

.subwindow:not(:last-of-type), .iconwindow:not(:last-of-type) {
    border-right: 1px solid #000000;
}

.iconwindow > .tool {
    align-items: center;
    display: inline-block;
    margin: 4px 0;
}

/**
 * TOOL BAR SUBWINDOW
 */
#tool-bar-subwindow, #tool-bar-iconwindow {
    width: 42px;
}

#tool-bar-subwindow > .tool {
    margin: auto;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.tool {
    position: relative;
    display: block;
    text-align: center;
    color: #cccccc;
    cursor: pointer;
    width: 32px;
}

.tool-selected {
    color: #ffffff;
}

.tool-selected::before, .tool:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #cc99cc;
    opacity: 0.25;
}

.tool-selected::after, .tool:hover::after {
    content: "";
    position: absolute;
    border-right: 1px solid #cc99cc;
    border-left:  1px solid #cc99cc;
    width:  calc(100% - 2px); /* -2px -- compensation for border */
    height: 100%;
    top:  0;
    left: 0;
}

.tool:hover {
    color: #cc99cc;
}

#tool-draw {
}

#tool-select {
}

#tool-align {
}

#tool-rotate {
}

/**
 * COMPONENT EDITOR
 */
#component-subwindow, #component-iconwindow {
     /* +10px -- padding
        +1px  -- border-right */
     width: calc(256px + 10px + 1px);
     background-color: #000000;
}

#component-subwindow > div {
    box-sizing: border-box;
}

#component-subwindow > div:not(:last-child) {
   margin-bottom: 5px;
}

#sprite-sheet {
    overflow: auto;
    outline: 1px solid #000000;
    background-image: url("../media/TransparencyBG.png");
    background-repeat: repeat;
    width: 100%;
    height: 80%;

    /**
     * -5px -- padding from .subwindow
     */
    max-height: calc(100% - 200px - 5px);
}

#sprite-sheet > img {
    /* block -- so that scrollbars get triggered at the correct size */
    display: block;
}

#sprite-sheet-options {
    width: 100%;
    height: 20%;
    min-height: 200px;
}

#sprite-sheet-options > .tool {
    margin: auto;
    display: inline-block;
}

/**
 * MAIN EDITOR
 */
#main-subwindow, #main-iconwindow {
    width: calc(100vw - 42px - (256px + 10px + 1px));
}
