.expandable-menu {
}

.expandable-menu-label {
    font-size: 0.9em;
    color: #ccc;
}

.expandable-menu-main-interior {
    background-color: #999999;
    min-height: 100px;
    border-radius: 2px 2px 0 0;
    height: 100%;
    
    transition: height 0.3s,
                min-height 0.3s;
}

.expandable-menu-main-interior.collapsed {
    height: 0%;
    min-height: 0px;
}

.expandable-menu-collapse-button {
    width: 100%;
    display: block;
    border: 0;
    background-color: #666666;
    padding: 0;
    font-size: 0;
    border-radius: 0 0 2px 2px;
    
    transition: border-radius 0.3s;
}

.expandable-menu-main-interior.collapsed + .expandable-menu-collapse-button {
    border-radius: 2px;
}

.expandable-menu-collapse-button:hover {
    background-color: #333333;
    cursor: pointer;
}

.expandable-menu-collapse-button > i {
    font-size: 16px;
    color: #cccccc;
    transition: transform 0.3s;
}

.expandable-menu-main-interior.collapsed + .expandable-menu-collapse-button > i {
    transform: rotate(180deg);
}

.expandable-menu-collapse-button:hover > i {
    color: #fff;
}