.float-right {
  float: right;
}

.float-left {
  float: left;
}

.flex-column-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/**
 * Menu
 */
.menu {
  font-size: 1rem;
}

.menu-label, .input-text-label {
  font-size: 0.9em;
  color: #ccc;
}

.menu-main-interior {
  background-color: #999999;
  border-radius: 2px;
  min-height: 100px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  clear: both;
  display: block;
  
  transition: max-height 0.4s,
              min-height 0.4s;
}

.menu-main-interior.collapsed {
  min-height: 0px;
  max-height: 0px;
}

.menu-button {
  cursor: pointer;
}

.menu-button:hover {
  color: #cc99cc;
}

.menu-button > i {
  width: auto;
}

.menu-item {
  font-size: 12px;
  padding: 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #bbb;
}

.menu-item:nth-child(odd) {
  background-color: #ccc;
}

.menu-item.selected, .file-menu-item.selected {
  background-color: #ddaadd;
}

.menu-item:hover, .file-menu-item-label-wrapper:hover {
  background-color: #f3e6f3;
}

/**
 * File Menu
 */
.file-menu-main-interior {
  margin: 0;
  padding: 0;
  list-style: none;
}

.file-menu-item-folder-ul {
  padding: 0;
}

.file-menu-item {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #bbb;
  white-space: pre;
}

.file-menu-item-label.folder::before {
  content: "▸";
}

.file-menu-item-label.folder.expanded::before {
  content: "▾";
}

/**
 * Expandable Menu
 */
.expandable-menu-main-interior {
  border-radius: 2px 2px 0 0;
}

.menu-main-interior.collapsed ~ .expandable-menu-collapse-button {
  border-radius: 2px;
}

.expandable-menu-collapse-button {
  width: 100%;
  display: block;
  border: 0;
  background-color: #666666;
  padding: 0;
  font-size: 0;
  border-radius: 0 0 2px 2px;
  
  transition: border-radius 0.4s;
}

.expandable-menu-collapse-button:hover {
  background-color: #333333;
  cursor: pointer;
}

.expandable-menu-collapse-button > i {
  font-size: 16px;
  color: #cccccc;
  transition: transform 0.4s;
}

.menu-main-interior.collapsed ~ .expandable-menu-collapse-button > i {
  transform: rotate(180deg);
}

.expandable-menu-collapse-button:hover > i {
  color: #fff;
}

/**
 * Input Text
 */
.input-text-label {
  padding-right: 5px;
}

.input-text {
  width: 40%;
}

/* Lock button */
.unlock-button > i, .lock-button > i {
  color: #000;
}

/**
 * History Menu
 */
.menu-item.undone {
  font-style: italic;
  color: #666;
}

/**
 * Preview Window
 */
.preview-window {
  border-radius: 1px;
  background-color: #cccccc;
  position: absolute;
  margin: 5px;
  left: 0;
  top: 0;
  font-size: 0;
}

.preview-window > .image-container {
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
}

*.collapsed ~ .preview-window {
  visibility: hidden;
}

.image-container > img {
  display: block;
  margin: auto;
}

/**
 * Misc. accessories
 */
*.arrow-left::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #cccccc;
  border-right: 4px solid #cccccc;
  
  /* -4px for this border-right size */
  left: -4px;
}